<!doctype html>
<html
  lang="uk"
  xmlns:th="http://www.thymeleaf.org"
  th:with="
      appVersion=${@environment.getProperty('app.version')},
      title='Протерміновані борги',
      pageHeading='Протерміновані борги',
      dataEndpoint='/overdue-debts/data',
      exportEndpoint='/overdue-debts/export',
      renderDatePicker=true,
      renderClientPicker=true,
      renderRepresentativesPicker=true,
      activeNav='accounts-overdue-debts',
      userRole=${userRole}
    "
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <title th:text="${title}">Протерміновані борги</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>

    <link
      rel="stylesheet"
      th:href="@{/css/main.css(v=${appVersion})}"
    />
  </head>

  <body>
    <div
      th:replace="~{/fragments/responsive-layout/responsive-layout :: responsive-layout(content=~{fragments/general-one-s-report-page-content/general-one-s-report-page-content :: content(${pageHeading}, ${dataEndpoint}, ${exportEndpoint}, ${renderDatePicker}, ${renderClientPicker}, ${renderRepresentativesPicker}, ${userRole})}, activePage='overdue-debts')}"
    ></div>

    <script th:src="@{/js/app.js(v=${appVersion})}"></script>
  </body>
</html>
