<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:with="appVersion=${@environment.getProperty('app.version')}"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>AI-пошук товарів | Bulat+</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link
      rel="stylesheet"
      th:href="@{/pages/ai-chat/ai-chat.css(v=${appVersion})}"
    />
    <link
      rel="stylesheet"
      href="/css/main.css"
      th:href="@{/css/main.css(v=${appVersion})}"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/responsive-pages-layout.css(v=${appVersion})}"
    />
  </head>
  <body>
    <div>
      <div class="container">
        <div class="s__mobile-layout">
          <div
            th:replace="~{/pages/ai-chat/fragments/ai-chat-content.html :: ai-chat-content}"
          ></div>

          <div
            th:replace="~{fragments/mobile-bottombar/mobile-bottombar :: mobile-bottombar}"
          ></div>
        </div>

        <div class="s__desktop-layout">
          <div
            th:replace="~{fragments/desktop-layout/desktop-layout :: shell('accounts-overdue-debts', ~{::main})}"
          >
            <main
              th:replace="~{/pages/ai-chat/fragments/ai-chat-content.html :: ai-chat-content}"
            ></main>
          </div>
        </div>
      </div>
    </div>

    <script th:src="@{/js/app.js(v=${appVersion})}"></script>
    <script th:src="@{/js/responsive.js(v=${appVersion})}"></script>
    <script
      th:src="@{/pages/ai-chat/fragments/ai-chat-content.js(v=${appVersion})}"
    ></script>
  </body>
</html>
