.ai-chat {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ai-chat__chat {
  background-color: var(--blue-surface-10);
  padding: 8px 8px 70px 8px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ai-chat__description-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  font-weight: 400;
}

.ai-chat__desc-list {
  margin-top: 10px;
}

/* .ai-chat__desc-list-item::before {
  content: "";
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  line-height: 40px;
  background-color: var(--brand-blue);
} */

.ai-chat__assistant-message {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: #fff; */
}

.ai-chat__user-message {
  max-width: 90%;
  background-color: var(--blue-surface-20) !important;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ai-chat__label {
  color: var(--brand-blue-dark);
  font-size: 13px;
  font-weight: 700;
}

.ai-chat__text-message {
  font-weight: 400;
  line-height: 1.3;
}

/* search backdrop blur [start] */
/* search backdrop blur [start] */
/* search backdrop blur [start] */

.ai-chat__search-backdrop-blur {
  position: fixed;
  bottom: var(--mobile-bottombar-height);
  left: 20px;
  right: 20px;
  height: 50px;
  backdrop-filter: blur(3px);
}

/* search backdrop blur [end] */
/* search backdrop blur [end] */
/* search backdrop blur [end] */

/* search bar start */
/* search bar start */
/* search bar start */

.ai-chat__search-bar {
  position: fixed;
  left: 20px;
  right: 20px;
  bottom: calc(var(--mobile-bottombar-height) + 20px);
  /* width: 90vw; */
}

.ai-chat__search-input {
  width: 100%;
  position: relative;
}

.ai-chat__search-button {
  position: absolute;
  right: 6px;
  top: 50%;
  border-radius: 10px;
  /* height: 18px; */
  transform: translateY(-50%);
  border: 1px solid var(--border);
  color: var(--brand-blue);
  padding: 5px;
  display: flex;
}
