HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

node_modules

src/main/resources/static/images/to-do.png
src/main/resources/static/images/screen-now.png


docs/cheat-sheet.md

  # Overdue debts manager JS and HTML file
src/main/resources/templates/pages/overdue-debts-manager/sales-plan.js
src/main/resources/templates/pages/overdue-debts-manager/plan-manager.html
todo.excalidraw.png
src/main/resources/templates/pages/ai-chat/to-ask.md