spring:
  thymeleaf:
    cache: false
  web:
    resources:
      cache:
        period: 0
  devtools:
    restart:
      enabled: true
      additional-exclude: static/**,templates/**
    livereload:
      enabled: true
