<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:with="appVersion=${@environment.getProperty('app.version')}"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>AI-пошук товарів | Bulat+</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>

    <link
      rel="stylesheet"
      href="/css/main.css"
      th:href="@{/css/main.css(v=${appVersion})}"
    />
  </head>
  <body>
    <div
      th:replace="~{/fragments/responsive-layout/responsive-layout :: responsive-layout(content=~{/fragments/ai-chat/ai-chat :: ai-chat}, activePage='ai-chat-page')}"
    ></div>

    <script th:src="@{/js/app.js(v=${appVersion})}"></script>
  </body>
</html>
