/* Responsive layout switching - до 1200px показуємо mobile */
@media (max-width: 1199px) {
  .s__desktop-layout {
    display: none !important;
    min-height: 100vh;
  }
  .s__mobile-layout {
    display: block;
    min-height: 100vh;
  }
}

/* Від 1200px і більше показуємо desktop */
@media (min-width: 1200px) {
  .s__mobile-layout {
    display: none !important;
    min-height: 100vh;
  }

  .s__desktop-layout {
    display: block;
    min-height: 100vh;
  }
}
