<div th:fragment="mobile-bottombar">
  <link
    rel="stylesheet"
    th:href="@{/fragments/mobile-bottombar/mobile-bottombar.css}"
  />

  <script th:inline="javascript">
    window.__APP_CONTEXT__ = {
      authenticated: /*[[${authenticated}]]*/ false,
      displayName: /*[[${fallbackName}]]*/ "Користувач",
      userRole: /*[[${userRole}]]*/ "ANONYMOUS",
    };
  </script>

  <footer class="mobile-bottombar">
    <div class="mobile-bottombar__userinfo">
      <div
        class="mobile-bottombar__avatar"
        id="avatar"
      >
        <span id="initials">?</span>
      </div>
      <div class="mobile-bottombar__name-role">
        <div
          class="mobile-bottombar__name"
          id="name"
          th:text="${fallbackName}"
        >
          Користувач
        </div>
        <div
          class="mobile-bottombar__role"
          id="role"
        >
          Роль: невідома
        </div>
      </div>
    </div>
    <button
      class="btn ghost mobile-bottombar__menu"
      data-nav="home"
      aria-label="В меню"
    >
      <img
        th:src="@{/images/icon-menu.svg}"
        src="/images/icon-menu.svg"
        alt=""
        aria-hidden="true"
      />
    </button>
  </footer>
</div>
