<!doctype html>
<html
  lang="uk"
  xmlns:th="http://www.thymeleaf.org"
  th:with="appVersion=${@environment.getProperty('app.version')}"
>
  <head>
    <meta charset="UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>overdue-debts-manager</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>

    <link
      rel="stylesheet"
      th:href="@{/css/main.css(v=${appVersion})}"
    />

    <link
      rel="stylesheet"
      th:href="@{/css/responsive-pages-layout.css(v=${appVersion})}"
    />

    <link
      rel="stylesheet"
      th:href="@{/pages/overdue-debts-manager/fragments/content.css(v=${appVersion})}"
    />
  </head>

  <body>
    <div
      th:replace="~{/fragments/responsive-layout/responsive-layout :: responsive-layout(content=~{/pages/overdue-debts-manager/fragments/content :: content}, activePage='overdue-debts-manager')}"
    ></div>

    <script th:src="@{/js/app.js(v=${appVersion})}"></script>
  </body>
</html>
